<div>
    <h1>Welcome to the Craft Beer Rater</h1>
        <%= image_tag("Beer_Hops.JPG", class: "img-responsive center-block", alt: "Beer Logo") %><br /> <br />
        <div class="center"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></div>
</div>