<% provide(:title, 'Analysis') %>
<h1>Select a data analysis graph</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag show_analysis_path do %>
      
      <div class="radio">
        <ul>
          <%= radio_button_tag :choice, "best_beer", true, class: "analysis" %>
          <%= label_tag :choice_best_beer, 'Top 10 Best Rated Beers' %>
        </ul>
        <ul>
          <%= radio_button_tag :choice, "worst_beer", false, class: "analysis" %>
          <%= label_tag :choice_worst_beer, 'Bottom 10 Worst Rated Beers' %>
        </ul>
        <ul>
          <%= radio_button_tag :choice, "most_rated_beer", false, class: "analysis" %>
          <%= label_tag :choice_most_rated_beer, 'Top 10 Most Rated Beers' %>
        </ul>
        <ul>
          <%= radio_button_tag :choice, "best_rated_1_beer", false, class: "analysis" %>
          <%= label_tag :choice_best_rated_1_beer, 'Top 10 Beers With the Best First Impression' %>
        </ul>
        <ul>
          <%= radio_button_tag :choice, "best_rated_2_beer", false, class: "analysis" %>
          <%= label_tag :choice_best_rated_2_beer, 'Top 10 Beers With the Best Taste Rating' %>
        </ul>
        <ul>
          <%= radio_button_tag :choice, "best_rated_3_beer", false, class: "analysis" %>
          <%= label_tag :choice_best_rated_3_beer, 'Top 10 Beers With the Best After-taste' %>
        </ul>
        <ul>
          <%= radio_button_tag :choice, "combo_rated", false, class: "analysis" %>
          <%= label_tag :choice_combo_rated, 'Combo Graph: Top Rated based on Average Rating vs Times Rated' %>
        </ul>
        <ul>
          <%= radio_button_tag :choice, "combo_rated_reversed", false, class: "analysis" %>
          <%= label_tag :choice_combo_rated_reversed, 'Combo Graph: Top Rated based on Times Rated vs Average Rating' %>
        </ul>
      </div>

      <div class="center">
        <%= submit_tag "Generate Graph", class: "btn btn-primary analysis" %>
      </div>
    <% end %>
  </div>
</div>