<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="beer_profile">
      <h2>Beer Profile</h2>
      <% if !@user.ibu.nil? %>
        <li>IBU: <%= number_with_precision(@user.ibu, precision: 2) %></li>
        <li>Original Gravity: <%= number_with_precision(@user.original_gravity, precision: 3) %></li>
        <li>Final Gravity: <%= number_with_precision(@user.final_gravity, precision: 3) %></li>
        <li>ABV: <%= number_with_precision(@user.abv, precision: 2) %></li>
        <li>SRM: <%= number_with_precision(@user.srm, precision: 2) %></li>
      <% else %>
        <p>You need to rate at least 3 beers before a beer profile can be generated</p>
      <% end %>
    </div>
  </aside>
  <div class="col-md-8">
    <div class="profile_recommender">
      <h3>Recommended Beers</h3>
      <% if @recommended %>
        <div id="recommender-carousel" class="owl-carousel owl-theme">
          <% @recommended.each do |recommend| %>
            <div class="item" id="recommend_list">
              <%= link_to (recommend.beer) do %>
                <div>
                  <%= image_tag(recommend.beer.image_path_url(:recommend), alt: "Beer Image") %><br />
                  <%= recommend.beer.name %><br />
                  <%= number_to_percentage(recommend.beer_percentage, precision: 2) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="customNavigation">
          <a class="btn prev">Previous</a>
          <a class="btn next">Next</a>
        </div>
      <% else %>
        <div>You do not have any recommended beers at this time.</div>
      <% end %>
    </div>
    <div class="profile_ratings">
      <% if @user.ratings.any? %>
        <h3>Ratings (<%= @user.ratings.count %>)</h3>
        <ol class="ratings">
          <%= render @ratings %>
        </ol>
        <%= will_paginate @ratings %>
      <% end %>
    </div>
  </div>
</div>