<li id="rating-<%= rating.id %>">
  <%= link_to gravatar_for(rating.user, size: 50), rating.user %>
  <span class="user"><%= link_to rating.user.name, rating.user %></span>
  <span class="content">Beer: <%= rating.beer.name %>, Rating 1: <%= rating.rating1 %>, Rating 2: <%= rating.rating2 %>, Rating 3: <%= rating.rating3 %></span>
  <span class="timestamp">
    Rated <%= time_ago_in_words(rating.created_at) %> ago.
    <% if current_user?(rating.user) || current_user.admin? %>
      -- <%= link_to "delete", rating, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
  <span class="socialmedia">
    <%= link_to(image_tag("fb-share.png", alt: 'Share this rating on Facebook!'), 'https://www.facebook.com/sharer/sharer.php?u=https%3A//rails-tutorial-c9-xalten.c9.io/', :target => :blank) %>
    <%= link_to(image_tag("gplus-share.png", alt: 'Share this rating on Google Plus!'), 'https://plus.google.com/share?url=https%3A//rails-tutorial-c9-xalten.c9.io/', :target => :blank) %>
    <%= link_to(image_tag("twitter-share.png", alt: 'Share this rating on Twitter!'), 'https://twitter.com/home?status=I%20just%20rated%20a%20beer%20on%20Craft%20Beer%20Rater!', :target => :blank) %>
  </span>
</li>