<% provide(:title, "Rate a Beer") %>

<div class="row">
  <div class="col-md-2 col-md-offset-1 col-sm-12">
    <div class="rating_beer_img">
      <%= image_tag(@beer.image_path_url, alt: "Beer Image", class:"img-responsive") %>
    </div>
  </div>
  <div class="col-md-7 col-sm-12">
    <div class="rating_beer_name">
      <h2>You are rating</h2>
      <h1><%= @beer.name %></h1>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@rating) do |f| %>
      <%= render 'shared/rating_error_messages' %>
      
      <%= f.hidden_field :beer_id, :value => params[:beer_id] %>
      
      <div>
      <p class="rating">
          First Rating: Aroma, Look, Head
          <a data-toggle="tooltip" data-placement="left" title="Raise the beer to the light, noting the color and foam. Lightly swirl the beer to release aroma."><i class="fa fa-question-circle"></i></a>
          <div id="slider"></div>
          <%= f.hidden_field :rating1, :id => "rate1" %>
      </p>
      </div>
      
      <div>
      <p class="rating">
          Second Rating: Taste
          <a data-toggle="tooltip" data-placement="left" title="Swirl the beer in your mouth noting the flavor and mouthfeel. There should be a natural continuity from the aroma."><i class="fa fa-question-circle"></i></a>
          <div id="slider2"></div>
          <%= f.hidden_field :rating2, :id => "rate2" %>
      </p>
      </div>
      
      <div>
      <p class="rating">
          Third Rating: Fill, After-taste
            <a data-toggle="tooltip" data-placement="left" title="Take a moment between sips to pause. Does it make you want to take another sip?"><i class="fa fa-question-circle"></i></a>
          <div id="slider3"></div>
          <%= f.hidden_field :rating3, :id => "rate3" %>
      </p>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
