<div class = "center"><%= will_paginate %></div>
<% @beers.each_slice(4) do |beers| %>
  <div class="row">
    <% beers.each do |beer| %>
      <%= link_to (beer) do %>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="beer_index">
          <ul><%= image_tag(beer.image_path_url, class: "img-responsive", alt: "Beer Image") %></ul>
          <strong><ul class="center beer_title"><%= beer.name %></ul></strong>
          <em><ul class="center"><%= beer.style %></ul></em>
          <ul class="center beer_percentage"><%= number_to_percentage(beer.recommenders.where(user_id: current_user.id).first.beer_percentage, precision: 2) %> Match</ul>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class = "center"><%= will_paginate %></div>
