<% provide(:title, 'Edit Beer') %>

<h1>Edit Beer</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @beer, :html => {:multipart => true} do |f| %>
      <%= render 'shared/beer_error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :style %>
      <%= f.text_field :style %>

      <%= f.label :original_gravity %>
      <%= f.text_field :original_gravity %>

      <%= f.label :final_gravity %>
      <%= f.text_field :final_gravity %>
      
      <%= f.label :abv %>
      <%= f.text_field :abv %>
      
      <%= f.label :ibu %>
      <%= f.text_field :ibu %>
      
      <%= f.label :srm %>
      <%= f.text_field :srm %>
      
      <%= f.file_field :image_path %>
     
     
      <%= f.submit "Update Beer", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>