<% provide(:title, 'All beers') %>
<h1>All Beers</h1>

<div class="center">
  <%= form_tag beers_path, :method => 'get', id: "beers_search", class:"form-inline" do |f| %>
    <div class="form-group">
      <%= label_tag(:hide_rated, "Hide rated beers") %>
      <%= check_box_tag( :hide_rated, 1, params[:hide_rated], class: "form-control") %> <br />
      
      <%= label_tag :search, "Search" %>
      <%= text_field_tag :search, params[:search], class: "form-control" %>
    </div>
  <% end %>
</div>

<div id="beers">
  <%= render 'beer.html.erb' %>
</div>
