<h1>Add New Beer</h1>

<% provide(:title, 'Add New Beer to Rate') %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @beer, :html => {:multipart => true} do |f| %>
      <%= render 'shared/beer_error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :style %>
      <%= f.text_field :style %>

      <%= f.label :original_gravity %>
      <%= f.text_field :original_gravity %>

      <%= f.label :final_gravity %>
      <%= f.text_field :final_gravity %>
      
      <%= f.label :abv %>
      <%= f.text_field :abv %>
      
      <%= f.label :ibu %>
      <%= f.text_field :ibu %>
      
      <%= f.label :srm %>
      <%= f.text_field :srm %>
      
      <%= f.file_field :image_path %>
     
     
      <%= f.submit "Add to beer database", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <br>
  <h1 class="center">Import from CSV</h1>
  <br>
  <%= form_tag import_beers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Beer CSV", class: "btn btn-primary"%>
  <% end %>
  </div>
</div>