<% provide(:title, @beer.name) %>
<div class="row">
  <div class="col-md-4 col-md-push-1 center">
    <div class="beer_header">
      <%= image_tag(@beer.image_path_url, alt: "Beer Image", class:"img-responsive") %>
    </div>
   </div>
   <div class="col-md-5 col-md-push-2 beer_info center">
     <h2 class="beer_title"><%= @beer.name %></h2>
     Style: <%= @beer.style %>
     <br>
     Original Gravity: <%= @beer.original_gravity %>
     <br>
     Final Gravity: <%= @beer.final_gravity %>
     <br>
     ABV: <%= @beer.abv %>
     <br>
     IBU: <%= @beer.ibu %>
     <br>
     SRM: <%= @beer.srm %>
     <br>
     Percentage: <%= number_to_percentage(@beer.recommenders.where(user_id: current_user.id).first.beer_percentage, precision: 2) %>
     <p class="center">
        <%= link_to "Rate Beer", rate_path(:beer_id => @beer.id), class: "btn btn-lg btn-primary" %>
     </p>
     <% if current_user.admin? %>
       <p class="center">
         <%= link_to "Edit", edit_beer_path(@beer.id) %> | <%= link_to "Delete", @beer, method: :delete, data: { confirm: "You sure?" } %>
       </p>
     <% end %>
	</div>

</div>
