@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Arvo:700);

/* beers index */

.beers {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
#main-content {
  background-color: rgba(247, 247, 247, 0.7);
  padding-bottom: 20px;
  border-radius: 20px;
}

body {
  background: url("/assets/background-barn-wood.jpg") no-repeat center center fixed;
  padding-top: 60px;
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-dark;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #fff;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 5px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Ratings */

.ratings {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .socialmedia {
    margin-left: 60px;
  }
}

.rating_beer_img {
  padding-top: 10px;
}

.rating_beer_name {
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
}
/* Analysis */

input.analysis {
    width: auto;
}

#graph {
  padding-top: 20px;
  margin-bottom: 20px;
}

#xy {
  padding-top: 20px;
  margin-bottom: 20px;
}

/* Beer Index */

input.beer_search {
  width: auto;
  margin-bottom: 15px;
}

.beer_percentage {
    font-family: 'Arvo', serif;
    font-size: 1.3em;
    background-color: #3A92B0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.beer_title {
  font-size: 1.4em;
  font-weight: bold;
}

.beer_index {
  background-color: #222;
  border-radius: 20px;
  text-decoration: none;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    padding-left: 0px;
    color: white;
  }
  img {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
  }
}

.beer_index:hover {
    background-color: rgba(0, 0, 0, 0.8);
    img {
      opacity: 0.4;
    }
  }

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.beer_info {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: white;
  p {
    padding-top: 10px;
  }
  h2 {
    color: white;
  }
}

.beer_header {
  font-size: 2.3em;
  padding-top: 20px;
  .img-responsive {
    margin: 0 auto;
  }
}

.rating {
  .fa-question-circle {
  padding-top: 10px;
  color: #3A92B0;
  margin-left: 10px;
  &:hover {
    cursor: help;
  }
}
}

/* User Carousel */

#recommender-carousel .item{
  background: #222;
  padding: 10px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

.customNavigation{
  text-align: center;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#recommend_list {
  background-color: #222;
  border-radius: 20px;
  text-decoration: none;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    padding-left: 0px;
    color: white;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

#recommend_list:hover {
    background-color: rgba(34, 34, 34, 0.8);
    text-decoration: none;
    img {
      opacity: 0.4;
    }
  }
