<footer class="footer">
  <nav class="nav navbar-fixed-bottom navbar-inverse">
    <ul>
      <li><a href=<%= contact_path %>><span class="fa fa-envelope-o fa-lg"></span>  Contact</a></li>
      <li><a href=<%= about_path %>><span></span>  About</a></li>
    </ul>
  </nav>
</footer>