<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li><a class="navbar-brand" href=<%= root_path %>><span class="fa fa-lg"></span>CBR</a></li>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a href=<%= root_path %>><span class="fa fa-home fa-lg"></span> Home</a></li>
      </ul>
        <% if logged_in? %>
         <ul class="nav navbar-nav navbar-right">
          
          <li><%= link_to "Browse Beers", beers_path %></li>
          <% if current_user.admin? %>
            <li class="dropdown">
              <a href='#' class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Add Beer", add_beer_path %></li>
                <li><%= link_to "Ratings Analysis", new_analysis_path %></li>
                <li><%= link_to "Ratings Management", ratings_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href='#' class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            </ul>
          </li>
          <li><a href=<%= logout_path %> data-method="delete"><span class="fa fa-sign-out fa-lg"></span>  Logout</a></li>
         </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href=<%= signup_path %>><span class="fa fa-user fa-lg"></span>  Sign Up</a></li>
            <li><a href=<%= login_path %>><span class="fa fa-sign-in fa-lg"></span>  Login</a></li>
        </ul>
        <% end %>
    </div>
  </div>
</nav>
